.sign-body{
    margin:0;
    padding:0;
    background-color: var(--colour);

}
.order{
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    width: 400px;
    height: 0;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.order h1{
    margin-bottom: 1em;
}
.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #999;
    width: 90%;
    outline: none;
}
.order-btn{
    padding:10px;
    border-radius: 5px;
    font-size:.9em;
    margin: 10px 0;
    border: none;
    cursor:pointer;
}
.order-btn a{
    text-decoration: none;
    color: #000;

}

.order-btn a:hover{
    color: #FF6961;
     
}