:root{
    --colour: #3EB489;
}
.chat{
    position: fixed;
    z-index: 999;
    right:1em;
    bottom: 1em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.5em ;

}
#closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: +#000;
    cursor: pointer;
  }

#popup:checked ~ .chatbox{
    bottom:1em;  
    transition: all .3 ease;
}
.chatbox{
    position: fixed;
    right:1em;
    bottom: -7px;
}
.chatbox form {
    padding: 1em;
    background-color: rgba(255,255,255,.5);
    max-width: 320px;
}
.chatbox label{
    font-weight: 400;
    font-size:.8em ;
}