/*Base*/
/*bg*/
*{
  box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}

:root{
    --text-size:1em;
    --hover: rgb(14, 14, 63);
    --colour: #3EB489;
}
/*body*/
body{
    background-image: linear-gradient(to top ,#FF6961, #FE828C, #B6D0E2, #3EB489 );
    font-family: 'Poppins', sans-serif;
    font-size:var(--font-size);
    margin: 0;
    background-repeat: no-repeat;
}
/*bgcolour*/
.back-color{
    background-image: linear-gradient(to bottom ,#FF6961, #FE828C, #B6D0E2, #3EB489 );
   /* margin:1em auto;*/
    
}

main{
    margin: 1em auto;
    padding: 0 1em 1em 1em;
    border: 5px solid #4b502e;
    border-width: 0 0 0 3px;
    max-width: auto;
}

a{
    color: #000;}
a:hover{
    color:var(--hover);
}
@media screen and (min-width:20em) {
    header h1{
        font-size: 30px;
    }
}
figure img{
    width: 90%;
    height:auto;
}
.horse img{
    width: 90%;
    height:auto;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    max-width: 100%;
    height: auto;
}